<% include('../layouts/header.ejs')  %>


<h1>Password Reset</h1>


<form action="/admin/forgot-password" method="post">
   
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br>
    <br>
    <input type="submit" value="Reset your password">
</form>




<% include('../layouts/footer.ejs')  %>
