<%- include('./header.ejs') %>

<style>
  body{
    overflow-y: hidden;
  }
</style>

 
            <div class="container-fluid p-5 col-md-10">
                <div class="card " onclick="location.href='/admin/fillINQ'">
                <lord-icon
                    src="https://cdn.lordicon.com/wzwygmng.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#992c2f"
                    >
                </lord-icon>
                    <div class="card-body">
                      <p class="card-text text-center ">Fill Inquiry</p>
                    </div>
                  </div>

                  <div class="card" onclick="location.href='/admin/registrationFormN'" >
                    <lord-icon
                        src="https://cdn.lordicon.com/wuvorxbv.json"
                        trigger="hover"
                        colors="primary:#121331,secondary:#992c2f"


                        >
                    </lord-icon>
                        <div class="card-body">
                          <p class="card-text text-center ">Registration</p>
                        </div>
                    </div>

                    <div class="card" onclick="location.href='/admin/pendingForm'" >
                        <lord-icon
                            src="https://cdn.lordicon.com/kndkiwmf.json"
                            trigger="hover"
                            state="hover-roll"
                            colors="primary:#121331,secondary:#992c2f"

                            >
                        </lord-icon>
                            <div class="card-body">
                              <p class="card-text text-center ">Pending Forms</p>
                            </div>
                        </div>

                        <div class="card" onclick="location.href='/admin/logs'" >
                            <lord-icon
                                src="https://cdn.lordicon.com/lenjvibx.json"
                                trigger="hover"
                                state="hover-flutter"
                                colors="primary:#121331,secondary:#992c2f"

                                >
                            </lord-icon>
                                <div class="card-body">
                                  <p class="card-text text-center ">Daily Activity Logs</p>
                                </div>
                            </div>
                             
                        <div class="card" onclick="location.href='/admin/teachersTable'" >
                            <lord-icon
                                src="https://cdn.lordicon.com/rfgxevig.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#992c2f"

                              
                                >
                            </lord-icon>                    
                                <div class="card-body">
                                  <p class="card-text text-center ">Faculty Table</p>
                                </div>
                        </div>

                        <div class="card" onclick="location.href='/admin/inquiryDetails'" >
                            <lord-icon
                                src="https://cdn.lordicon.com/wwmtsdzm.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#992c2f"

                                
                                >
                            </lord-icon>                    
                                <div class="card-body">
                                  <p class="card-text text-center ">Inquiry Data</p>
                                </div>
                        </div>

                        <div class="card" onclick="location.href='/admin/registrationData'" >
                            <lord-icon
                                src="https://cdn.lordicon.com/zvheymqn.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#992c2f"

                                
                                >
                            </lord-icon>                    
                                <div class="card-body">
                                  <p class="card-text text-center ">Registration Data</p>
                                </div>
                        </div>

                        <div class="card" onclick="location.href='/admin/new-user'" >
                            <lord-icon
                                src="https://cdn.lordicon.com/zrkkrrpl.json"
                                trigger="hover"
                                state="hover-swirl"
                                colors="primary:#121331,secondary:#992c2f"
                                >
                            </lord-icon>                    
                                <div class="card-body">
                                  <p class="card-text text-center ">Add Faculty Member</p>
                                </div>
                        </div>  


                  
            </div>
              

              <script src="/Scripts/script.js"></script>
              <script src="/Scripts/course.js"></script>
              <script src="/Scripts/stateCity.js"></script>

</body>
</html>