<%- include('./header.ejs') %>


<style>
  form{
    position: absolute;
    top: 40%;
    right: 40%;
    border: 1px solid black;
    border-radius: 5px;
    /* box-shadow: 2px 2px 15px black; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
</style>
<h5>Import DTE List</h5>
 <% if(message.length>0){%>
            <div class="alert alert-success">
              <%= message%>
            </div>
           <%}%>
   <form action="/admin/importData" method="post" enctype="multipart/form-data">
    <input type="text" placeholder="Enter Name" name='branch'>
    <input type="file" name="file" accept=".xls,.xlsx">
    <input type="submit" value="submit">
  </form>

    </body>
</html>
