<% include('../layouts/header.ejs')  %>


<h1>User registration form</h1>

<form action="/register" method="post">
    <input type="text" name="name" placeholder="Enter name" required>
    <br>
    <br>
    <input type="email" name="email" placeholder="Enter email" required>
    <br>
    <br>

    <input type="text" name="mobile" placeholder="Enter mobile" required>
    <br>
    <br>

   
    <input type="password" name="password" placeholder="Enter password" required>
    <br>
    <br>

    <input type="submit" value="register">
</form>

<% if(typeof message !== 'undefined'){%>
    <p style="color: green;">
        <%= message %>
    </p>
        <%}%>


<% include('../layouts/footer.ejs')  %>
